In [2]:
import pandas as pd

In [5]:
data  = pd.Series([1,2,3,4,5,6],index =['a','b','c','d','e','f'])

In [7]:
data.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [11]:
data.values

array([1, 2, 3, 4, 5, 6])

In [14]:
type(data.values)

numpy.ndarray

In [41]:
marks_dict = {'A':56,'B':17,'C':23,'D':12}

In [42]:
marks = pd.Series(marks_dict)

In [43]:
marks

A    56
B    17
C    23
D    12
dtype: int64

In [44]:
grades_dict = {'A':'A+','B':'C','C':'B+','D':'D'}

In [45]:
grades = pd.Series(grades_dict)

In [46]:
grades

A    A+
B     C
C    B+
D     D
dtype: object

In [47]:
grades.index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [48]:
marks.values

array([56, 17, 23, 12])

In [49]:
marks['A']

np.int64(56)

In [70]:
rs = pd.DataFrame({'Grades': grades,'Marks':marks})

In [71]:
rs

  Grades  Marks
A     A+     56
B      C     17
C     B+     23
D      D     12

In [74]:
rs.T

         A   B   C   D
Grades  A+   C  B+   D
Marks   56  17  23  12

In [76]:
rs.values

array([['A+', 56],
       ['C', 17],
       ['B+', 23],
       ['D', 12]], dtype=object)

In [79]:
rs.values[2,0]

'B+'

In [81]:
rs.values[0,1]

56

In [99]:
rs['Scaledmarks'] = 100*(rs['Marks']/90)

In [100]:
rs

  Grades  Marks  Scaledmarks
A     A+     56    62.222222
B      C     17    18.888889
C     B+     23    25.555556
D      D     12    13.333333

In [101]:
del rs['Scaledmarks']

In [103]:
rs

  Grades  Marks
A     A+     56
B      C     17
C     B+     23
D      D     12

In [110]:
gs = rs[rs['Marks']>20]

In [112]:
gs

  Grades  Marks
A     A+     56
C     B+     23

In [114]:
A = pd.DataFrame([{'A':1,'B':2},{'B':3,'C':4}])

In [116]:
A

     A  B    C
0  1.0  2  NaN
1  NaN  3  4.0

In [118]:
A.fillna(0)

     A  B    C
0  1.0  2  0.0
1  0.0  3  4.0

In [120]:
L  = pd.Series([1,2,3,4,5,6],index =['a','b','c','d','e','f'])

In [124]:
print(L[1])

2

C:\Users\Varshit\AppData\Local\Temp\ipykernel_17164\1860023637.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(L[1])

In [132]:
L[2:5]

c    3
d    4
e    5
dtype: int64

In [135]:
L

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [137]:
L.iloc[2:4]

c    3
d    4
dtype: int64

TypeError: cannot do slice indexing on Index with these indexers [2] of type int