In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('weatherHistory.csv')

In [6]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [10]:
df['Wind Speed (km/h)'].max()

63.8526

In [16]:
df[2:4]

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.

In [18]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [20]:
df.Summary

0        Partly Cloudy
1        Partly Cloudy
2        Mostly Cloudy
3        Partly Cloudy
4        Mostly Cloudy
             ...
96448    Partly Cloudy
96449    Partly Cloudy
96450    Partly Cloudy
96451    Partly Cloudy
96452    Partly Cloudy
Name: Summary, Length: 96453, dtype: object

In [23]:
df.Humidity

0        0.89
1        0.86
2        0.89
3        0.83
4        0.83
         ...
96448    0.43
96449    0.48
96450    0.56
96451    0.60
96452    0.61
Name: Humidity, Length: 96453, dtype: float64

In [25]:
type(df['Summary'])

pandas.core.series.Series

In [30]:
df[['Summary','Temperature (C)']]

             Summary  Temperature (C)
0      Partly Cloudy         9.472222
1      Partly Cloudy         9.355556
2      Mostly Cloudy         9.377778
3      Partly Cloudy         8.288889
4      Mostly Cloudy         8.755556
...              ...              ...
96448  Partly Cloudy        26.016667
96449  Partly Cloudy        24.583333
96450  Partly Cloudy        22.038889
96451  Partly Cloudy        21.522222
96452  Partly Cloudy        20.438889

[96453 rows x 2 columns]

In [51]:
df['Temperature (C)'].max()

39.90555555555555

In [53]:
df['Temperature (C)'].min()

-21.822222222222223

In [55]:
df['Temperature (C)'].mean()

11.93267843751188

In [57]:
df['Temperature (C)'].describe()

count    96453.000000
mean        11.932678
std          9.551546
min        -21.822222
25%          4.688889
50%         12.000000
75%         18.838889
max         39.905556
Name: Temperature (C), dtype: float64

In [82]:
df['Formatted Date'][df['Temperature (C)']==df['Temperature (C)'].max()]

12759    2007-07-22 15:00:00.000 +0200
Name: Formatted Date, dtype: object